@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #fff !important;
}

.left-sidebar{
    height: 100vh;
}



button:focus,input:focus{
    box-shadow: none;
    outline: none;
}

::-webkit-input-placeholder {
    color: #000;
    font-size: 16px;
    
}
:-ms-input-placeholder {
    font-size: 16px;
    color: #000;
     
}
::-moz-placeholder {
    color: #000;
    opacity: 1;
    font-size: 16px;
     
}
:-moz-placeholder {
    color: #000;
    font-size: 16px;
    opacity: 1;
    
}
.header_content {
    background-color: #1892c0;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.blue_bar{
    width: 80%;
}

.header_title h3 {
    color: #fff;
    margin: 0;
    font-size: 25px;
}

.logo_image {
    width: 100%;
    padding: 30px 10px 30px;
    text-align: center;
}

.logo_image img{
    max-width: 100%;
}

.login_btn a {
    color: #fff;
    text-decoration: unset;
    font-size: 16px;
}

.tab_title h3{
    color:#1892c0;
    margin:0;
    padding: 10px 60px 20px;
    font-size: 22px;
}

.tab_list_box {
    width: 50%;
}
.tab-content {
    width: 80%;
}

.search_bar {
    display: flex;
    align-items: center;
}

.table_btn_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-bottom: 30px;
}

.totla_company p {
    margin: 0;
    background: #F9F9F9;
    padding: 4px 20px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
}

.select_field select {
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #767676;
}
.add_btn span {
    padding-right: 5px;
}

.add_btn a{
    text-decoration: none;
    background-color: #0E6CE6;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}

.pagination_links a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pagination_links {
    display: flex;
    gap: 10px;
    background: #F0F0F0;
    /* border: 1px solid #BFBFBF; */
    padding: 4px 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px gray;
}
.refresh_btn a, .totla_num a, .filter_btn a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
    background: #F0F0F0;
    /* border: 1px solid #BFBFBF; */
    padding: 4px 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px gray;
}

.search_bar {
    display: flex;
    align-items: center;
    /* border: 1px solid #BFBFBF; */
    background: #F0F0F0;
    border-radius: 5px;
    padding: 4px 15px;
    box-shadow: 0px 1px 2px 0px gray;
}

.search_field input {
    border: none;
    background: transparent;
}

.search_field input:focus-visible {
    border: none;
    outline: none;
}

.tab_list_box  .nav-link.active {
    color: #42C940 !important;
    background-color: transparent !important;
    text-align: left !important;
    border: 1px solid #cccccc63;
box-shadow: 3px 3px #8888883d;
}

.tab_list_box .nav-link {
    text-align: left !important;
    color: #5C6972;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 5px;
}

.tab_list_box .nav-link:hover{
    color: #42C940;
}

.nav-link.active img.simple_one{
   display: none !important;
   max-width: 100%;
}

.nav-link.active img.hover_one{
    display: block !important;
    max-width: 100%;
 }

 .nav-link img.hover_one{
    display: none !important;
    max-width: 100%;
 }

 /* --------- User Page ---------------- */

 .user_form_content {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    align-items: center;
}
.user_input_form {
    width: 80%;
}
.user_input_form input {
    /* width: 100%; */
    /* border-radius: unset !important; */
    /* border: 1px solid #D9D9D9; */
    height: 40px;
    /* padding: 0 20px; */
}

.form-control{
    background-color: white !important;
    border-radius: 0px !important;
}
.form-select {
    background-color: white !important;
}
.badge{
    font-size: 12px !important;
}

.user_select_form, .password_des {
    width: 80%;
}

input, select:focus-visible{
    outline: none !important;
}

.label, .password_title {
    width: 20%;
}

.password_content {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user_select_form select {
    width: 100%;
    height: 40px;
    border-radius: unset !important;
    border: 1px solid #D9D9D9;
    padding: 0 20px;
}

.form_title h4, .password_title h4 {
    font-size: 15px;
    color: #1155CC;
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}
.tab_title h3{
    color: #2297C3;
font-size: 22px;
font-family: Inter;
font-weight: 700;
line-height: 39px;
word-wrap: break-word
}



.form_title {
    border-bottom: 1px solid #1155CC;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.password_content {
    border-bottom: 1px solid #1155CC;
    margin-bottom: 20px;
    padding: 20px 0 5px;
}

.password_des p {
    margin: 0;
    font-size: 10px;
}

.user_form_box {
    max-width: 900px;
    /* margin: 0 auto; */
    padding: 10px 60px 20px;
}

.user_btn_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
}

.user_btn a {
    text-decoration: none;
    border: 1px solid #A0A0A0;
    background-color: #F0F0F0;
    padding: 7px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.user_btn .user_btn_style {
    text-decoration: none;
    border: 1px solid #A0A0A0;
    background-color: #F0F0F0;
    padding: 7px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.submit{
    text-decoration: none;
    -webkit-appearance: media-slider !important;
}
/* Login Page */


.admin_email {
    padding: 0px 20px 0px;
}

.admin_email input {
    width: 100%;
    height: 45px;
    border-radius: 50px !important;
    border: 1px solid #CED4DA;
    padding: 0 20px;
    color: #000;
}

.admin_company_name input{
    width: 70%;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #CED4DA;
    padding: 0 20px;
    color: #000;
}

.admin_email_label {
    padding: 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit_box_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
}

.submit_btn  {
    background: #1892C0;
    color: #fff;
    text-decoration: none;
    width: 200px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-size: 18px;
}

.admin_email_label a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
}
.admin_logo {
    padding-bottom: 50px;
}

.admin_box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100vh;
}

/* ------------- Media Qurey ------------ */

@media(max-width:670px){
    .company_table{
        flex-wrap:wrap ;
    }
    .tab-content {
        width: 100%;
    }
    .tab_list_box {
        width: 100%;
        flex-direction: row !important;
        justify-content: center;
        padding-bottom: 30px;
    }

    .logo_image {
        width: 100%;
        padding: 30px 0;
    }

    .blue_bar {
        width: 100%;
    }

    .header_box {
        flex-wrap: wrap;
    }

    .header_content {
        padding: 20px 20px;
    }

    .tab_title h3 {
        color: #2297C3;
        font-size: 18px;
        font-family: Inter;
        font-weight: 700;
        line-height: 39px;
        word-wrap: break-word    
    }
    
    /* .company_sub_title h4 {
        color: #2297C3;
        font-size: 18px;
        font-family: Inter;
        font-weight: 700;
        line-height: 39px;
        word-wrap: break-word 
    } */
        .admin_company label {
            padding: 10px 20px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    }

    .table_btn_list {
        justify-content: start;
        gap: 20px;
    }

    /* User Page */

    .label, .password_title {
        width: 100%;
    }

    .user_select_form, .password_des {
        width: 100%;
    }

    .user_form_content {
        flex-wrap: wrap;
        gap: 10px;
    }

    .user_input_form {
        width: 100%;
    }

    .password_content {
        flex-wrap: wrap;
    }
}

@media(max-width:480px){
    .submit_box_content {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.thclass
{
    color: #1F3A63;
    font-family: Inter;
    font-weight: 700;   
    line-height: 24px;
    word-wrap: break-word;
    background-color: #F0F0F0 !important;
    
}

/* table class */
.tdclass
{
    color: black; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 24px; 
    word-wrap: break-word; 
    background-color: #fff !important;
}

.tab_list_box {
    /* margin: 1px auto; */
    margin-left: 8%;
}
.max-width-20{
    max-width: 20% !important;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .table{
        overflow: scroll;
    }
}


.next-prev-icon-style{
    height: fit-content;
    align-self: center;
}

.clickable-element {
    /* Add your element styles here */
    /* padding: 10px; */
    /* background-color: #f2f2f2; */
    /* border: 1px solid #ddd; */
    cursor: pointer; /* Set the cursor to a clickable icon */
  }

  .dropdown-menu {
    min-width: 4rem !important;
}

div#customDataTable_info {
    display: none;
}

div#customDataTable_paginate {
    display: none;
}
div#customDataTable_length {
    display: none;
}
div#customDataTable_filter {
    display: none;
}

.navbar-brand{
    font-weight:900;
}

.delete-button{
    background: transparent; 
}
.submit{
    border: none;
}
.tab_list_box{
    width: 83%;
}
.myborder{
    border: 1px solid black !important;
    border-radius: 25px !important;
}
span.select2-selection.select2-selection--multiple {
    border-radius: 0px;
    border: 1px solid #ccc;
    height: 40px;
}
/* ul.select2-choices {
    padding-right: 30px !important;
}

ul.select2-choices:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
} */


.select2-container--default .select2-selection--multiple:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 17px;
    margin-left: -4px;
    margin-top: -2px;
    top: 42%;
    width: 0;
    cursor: pointer;
    border: solid black;
    border-width: 0 2px 2px 0;
    /* display: inline-block; */
    padding: 3.1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select2-container--open .select2-selection--multiple:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 17px;
    margin-left: -4px;
    margin-top: -2px;
    top: 52%;
    width: 0;
    cursor: pointer;
    border: solid black;
    border-width: 0 2px 2px 0;
    /* display: inline-block; */
    padding: 3.1px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);




}

